<ion-view title="Find a Magazine" id="page6" style="">
    <ion-content padding="true" scroll="false" class="has-header">
        <h3 id="findAMagazine-heading4" style="color: rgb(255, 255, 255);">Distribution Locations</h3>
        <creator-map-component options="{}" marker="true"
        '="" location="Engineering Dr, Boulder, CO 80302" zoom="12" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:100%;"><ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options"><ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker></ui-gmap-google-map></creator-map-component></ion-content></ion-view>